html {
    text-align: center;
    font-family: 'Space Mono'
}

.right {
    float: right;
}

.left {
    display: inline-block;
}

.square {
    color: white;
    border: 1px solid black;
}

.color {
    background-color: grey;
    border: 1px solid black;
}

.grid-container {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 3px solid #000;
    border-radius: 5px;
    height: 575px;
    width: 575px;
}